.product{
      display: flex;
      border-bottom: 1px solid lightgray;
      margin-bottom: 5px;
      padding-bottom: 5px;
      margin-right: 10px;
}

.product-name{
      color: #1687a7;
      font-weight: 500;
      text-decoration: none;
      font-size: 20px;
}

.seller{
      font-size: 18px;
      font-weight: 500;
      color: #6c5ce7;
}

.product-img{
      margin-right: 15px;
}

.price{
      color: #d63031;
      font-size: 16px;
      font-weight: 500;
}

.button{
      padding: 5px 60px;
      background-color: goldenrod;
      border: 1px solid #636e72;
      border-radius: 4px;
      cursor: pointer;
}